body {
  background: #fff;
  color: #212121;
}
.logo {
  color: #2196f3;
}
.studio {
  color: #000000;
}
.list {
  list-style: none;
}
.header {
  background: #fff;
}
.hero {
  background-color: #2f303a;
}
.main-content {
  background: #fff;
}
.team {
  background-color: #f5f4fa;
}
.footer {
  background-color: #2f303a;
}

/* Навигация */
.stile-nav a {
  color: #212121;
}
/* фони темный background: #2F303A;*/
/* серый фон #F5F4FA */

/* первичный цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет акцентов и для активных ссылок #2196F3 */
/* черный цвет в лого #000000 */
/* белый цвет заголовок героя адрес в футере #FFFFFF */
/* цвет контактов в футере rgba(255, 255, 255, 0.6) */
